# EDA with R looking at the Russia-Ukraine war, 2022

This work will hopefully contain some interesting EDA of the current war which resulted from the Russian invasion of Ukraine in 2022. The initial focus will be on equipment losses.    

This work will also serve to try and imporve my skills with R.

In [11]:
# install.packages("plotly")
# install.packages("janitor")

In [12]:
library(tidyverse)
library(ggplot2)
library(plotly)
library(janitor)

print("Library Import Completed")

[1] "Library Import Completed"

In [14]:
equipment_data <- read.csv(file = 'Data/russia_losses_equipment.csv')
personnel_data <- read.csv(file = 'Data/russia_losses_personnel.csv')
print("Data Imported")

[1] "Data Imported"

## Initial Look at the Data

We will take a look at some of the data, to get a feel for what we are working with.

In [17]:
head(equipment_data,5)

  date       day aircraft helicopter tank APC field.artillery MRL military.auto
1 2022-02-25 2   10        7          80  516 49               4  100
2 2022-02-26 3   27       26         146  706 49               4  130
3 2022-02-27 4   27       26         150  706 50               4  130
4 2022-02-28 5   29       29         150  816 74              21  291
5 2022-03-01 6   29       29         198  846 77              24  305
  fuel.tank drone naval.ship anti.aircraft.warfare special.equipment
1 60        0     2          0                     NA
2 60        2     2          0                     NA
3 60        2     2          0                     NA
4 60        3     2          5                     NA
5 60        3     2          7                     NA
  mobile.SRBM.system vehicles.and.fuel.tanks cruise.missiles
1 NA                 NA                      NA
2 NA                 NA                      NA
3 NA                 NA                      NA
4 NA                 NA                      NA
5 NA                 NA                      NA

In [16]:
glimpse(equipment_data)

Rows: 66
Columns: 17
$ date                    <chr> "2022-02-25", "2022-02-26", "2022-02-27", "202…
$ day                     <int> 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15…
$ aircraft                <int> 10, 27, 27, 29, 29, 30, 30, 33, 39, 44, 46, 48…
$ helicopter              <int> 7, 26, 26, 29, 29, 31, 31, 37, 40, 48, 68, 80,…
$ tank                    <int> 80, 146, 150, 150, 198, 211, 217, 251, 269, 28…
$ APC                     <int> 516, 706, 706, 816, 846, 862, 900, 939, 945, 9…
$ field.artillery         <int> 49, 49, 50, 74, 77, 85, 90, 105, 105, 109, 117…
$ MRL                     <int> 4, 4, 4, 21, 24, 40, 42, 50, 50, 50, 50, 56, 5…
$ military.auto           <dbl> 100, 130, 130, 291, 305, 355, 374, 404, 409, 4…
$ fuel.tank               <dbl> 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60…
$ drone                   <int> 0, 2, 2, 3, 3, 3, 3, 3, 3, 4, 7, 7, 7, 7, 7, 7…
$ naval.ship              <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3…
$ anti.aircraft.warfare   <int> 0, 0, 0, 5, 7, 9, 11, 18, 19, 21, 23, 27, 28, …
$ special.equipment       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ mobile.SRBM.system      <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ vehicles.and.fuel.tanks <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ cruise.missiles         <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…

In [18]:
summary(equipment_data)

     date                day           aircraft        helicopter
 Length:66          Min.   : 2.00   Min.   : 10.00   Min.   :  7.0
 Class :character   1st Qu.:18.25   1st Qu.: 74.75   1st Qu.: 87.0
 Mode  :character   Median :34.50   Median :129.00   Median :130.0
                    Mean   :34.50   Mean   :116.41   Mean   :113.4
                    3rd Qu.:50.75   3rd Qu.:162.25   3rd Qu.:144.0
                    Max.   :67.00   Max.   :192.00   Max.   :155.0

      tank             APC       field.artillery      MRL
 Min.   :  80.0   Min.   : 516   Min.   : 49.0   Min.   :  4.00
 1st Qu.: 377.8   1st Qu.:1232   1st Qu.:142.5   1st Qu.: 62.50
 Median : 601.0   Median :1716   Median :304.0   Median : 96.00
 Mean   : 576.2   Mean   :1631   Mean   :268.7   Mean   : 91.76
 3rd Qu.: 755.2   3rd Qu.:1974   3rd Qu.:366.0   3rd Qu.:122.00
 Max.   :1026.0   Max.   :2471   Max.   :451.0   Max.   :151.00

 military.auto    fuel.tank         drone          naval.ship
 Min.   : 100   Min.   :60.00   Min.   :  0.00   Min.   :2.000
 1st Qu.: 600   1st Qu.:60.00   1st Qu.:  7.25   1st Qu.:3.000
 Median :1178   Median :73.00   Median : 76.00   Median :7.000
 Mean   :1048   Mean   :69.32   Mean   : 82.17   Mean   :5.409
 3rd Qu.:1437   3rd Qu.:76.00   3rd Qu.:134.75   3rd Qu.:7.750
 Max.   :1701   Max.   :76.00   Max.   :245.00   Max.   :8.000
 NA's   :1      NA's   :1
 anti.aircraft.warfare special.equipment mobile.SRBM.system
 Min.   : 0.00         Min.   :10.00     Min.   :2.000
 1st Qu.:34.00         1st Qu.:21.00     1st Qu.:4.000
 Median :54.00         Median :25.00     Median :4.000
 Mean   :47.12         Mean   :23.13     Mean   :3.944
 3rd Qu.:65.50         3rd Qu.:27.00     3rd Qu.:4.000
 Max.   :80.00         Max.   :32.00     Max.   :4.000
                       NA's   :19        NA's   :30
 vehicles.and.fuel.tanks cruise.missiles
 Min.   :1796            Min.   :84
 1st Qu.:1796            1st Qu.:84
 Median :1796            Median :84
 Mean   :1796            Mean   :84
 3rd Qu.:1796            3rd Qu.:84
 Max.   :1796            Max.   :84
 NA's   :65              NA's   :65

We will `clean` the column header names

In [19]:
clean_equipment_data <- clean_names(equipment_data)

In [20]:
head(clean_equipment_data,5)

  date       day aircraft helicopter tank apc field_artillery mrl military_auto
1 2022-02-25 2   10        7          80  516 49               4  100
2 2022-02-26 3   27       26         146  706 49               4  130
3 2022-02-27 4   27       26         150  706 50               4  130
4 2022-02-28 5   29       29         150  816 74              21  291
5 2022-03-01 6   29       29         198  846 77              24  305
  fuel_tank drone naval_ship anti_aircraft_warfare special_equipment
1 60        0     2          0                     NA
2 60        2     2          0                     NA
3 60        2     2          0                     NA
4 60        3     2          5                     NA
5 60        3     2          7                     NA
  mobile_srbm_system vehicles_and_fuel_tanks cruise_missiles
1 NA                 NA                      NA
2 NA                 NA                      NA
3 NA                 NA                      NA
4 NA                 NA                      NA
5 NA                 NA                      NA

Now we will look for duplicates

In [21]:
sum(duplicated(clean_equipment_data))

[1] 0

We have no duplicates in the equipment data.    

Next, we will look for missing values

In [22]:
sum(is.na(clean_equipment_data))

[1] 181

So we have a number of missing values. These will need further investigation.    

## Data Visualisation